@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

#invitation {
    background-image: linear-gradient(rgba(172, 172, 172, 0.7), rgba(172, 172, 172, 0.7)), url('../../assets/images/invitation-home.jpg');
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    background-size: cover;
    background-position: top;
    height: 100vh;
    /* filter: grayscale(80%); */
}

.blur-background {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    inline-size: max-content;
}

.madurai-invitation{
    font-family: "Arima Madurai", cursive;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;
    margin: auto;
    font-size: 23px;
    color: white;
}

.playball-invitation{
    font-family: Playball, cursive;
    text-align: center;
    font-size: calc(5vw + 18px);
    text-shadow: rgb(0, 0, 0) 2px 2px 10px;
    color: white;
}

/* @media only screen and (min-width: 600px) {

    .madurai {
        font-size: 30px;
    }
    .playball {
        font-size: 5rem;
    }
} */

.img-logo {
  width: 150px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  filter: invert();
}

.btn-slide-pink{
  background: linear-gradient(90deg, rgba(241,78,149,255) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border: none;
}
.btn-slide-pink:hover {
    background-position: left bottom;
    color: white;
}